/*шапка*/

.wrapper{
	padding: 0 50px;
	max-width: 1170px;
	/*Позиционирование по центру*/
	margin: 0 auto;
}

.header {
	/* position: absolute; */
	width: 100%;
	}

.header_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

.header_logo{
	padding-top: 35px;
	padding-bottom: 10px;
}

.header_nav{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px ;
}

.header_item{
	margin-right: 82px;
	
}

.header_item:last-child{
	margin-right: 0;
}

.header_link{
	font-family:'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}

/*смена цвета кнопок меню в шапке при наведение*/
.header_link:hover, .header_link:focus{
	color: #FF5C00;
	transition: color 0.2s ease-out;
}

.header_link:active{
	color: #a53c00;
}


/* !!!!!MAIN ELEMENTS!!!!! */

/* div {
	border: 1px red solid;
} */

/*начальная секция часть1*/
.background_image{
	min-height: 941px;
	background: url(../image/promo_img1.png) no-repeat;
	background-size: cover;
	
}

.main_promo_container{
	border: 1px solid blue;
	height: 650px;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.left_promo_container{
	margin-top: 40px;
	overflow: hidden;
}

.promo_part_right{

}

.promo_img {
	/* max-width: 100%; */
}

.promo_title{
	max-width: 668px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;

/* Нашел возможность задавать относительный размер шрифта (vw vh) */
	font-size: 3rem;
	line-height: 59px;
	color: #FFFFFF;
	margin-bottom: 16px;
}

.polygon_promo{
	margin-bottom: 11px;
	}

.promo_title2{
	max-width: 529px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
	margin-left: 25px;
	margin-bottom: 51px;
}

.color_promo_title2{
	color: #FF5C00;
}

.offer_promo_box{
	margin-bottom: 33px;
}

.offer_promo{
	margin-left: 140px;
	padding: 20px 23px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color:white;
	background: #FF5C00;
	border-radius: 31px;
	text-decoration: none;
	
}

.offer_promo:hover, .offer_promo:focus{
	box-shadow: 0px 0px 23px #FF5C00;
	
}


.offer_promo:active{
	box-shadow: 0px 0px 10px #FF5C00;			
	color: #ebe2e2dc;
}

.offer_promo2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color:#FFFFFF;
	margin-left: 174px;
}

/*начальная секция часть2*/

/* .promo2{
	min-height: 100vh;
	margin-top: -212px;
	position: relative;
	z-index: 2;
	background: url(../image/promo_img2.png) no-repeat center top ;
	background-size: 100%;
	/* transform: translateY(-17%);
} */

.promo_grid{
	/* transform: translateY(65%); */
	border: 1px green solid;
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.background_image2 {
	background: url(../image/promo_img2.png) top  no-repeat;
	/* width: 100%; */
	background-size:100%;

}

.promo_img2{
	margin-top: 70px;
	max-width: 100%;
	grid-row: span 2;
}

.promo_title3{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: calc(20px + 16 * ((100vw - 320px) / (1280 - 320)));
	line-height: 1.4em;
	/* margin-top: -1em; */
	color: #FFFFFF;
	
}

.promo2_text{
	margin-top: 77px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #111010;
}

/* @media (max-width: 1680px) {
	.promo_flex1{
		margin-bottom: 200px;
	}
	.promo_part_left{
		margin-top: 350px;
	}
	.promo_part_right{
		margin-top: 250px;
	}
} */

/* @media (max-width: 1600px) {
	.promo_part_left{
		margin-top: 280px;
	}
	.promo_part_right{
		margin-top: 180px;
	}
} */