/*		Правило комментирования:

Желательно на латинице. Всегда + один (1) отступ между комментариями как сверху, так и снизу (за исключением точечного комментирования конкретного стиля). Для точечных комментариев конкретного стиля (т.е. не обозначение начала участка с стилями, а именно точечное редактирование, которое необходимо обозначить, предлагаю использовать комментарий без enter, с прилипанием к стилю. Пример:

//смена цвета кнопок меню в шапке при наведении//
.header_link:focus{
	color: #FF5C00;
}



Супер-крупные смысловые секции пишем капсом, остальные по-обычному. Супер-крупные смысловые секции друг меж другом разделяем четыремя (4) enter, но если необходимо внутри секции отделить стиль одного контейнера от другого и закоментировать это, то три (3) enter.

Так же давайте использовать закрывающий комментарий для супер-крупных секций. 
Пример комментирования смысловых секций:

//HEADER//

.style_1

.style_2

//END HEADER// (4 enter)




//MAIN//

//main_container_1// 

.style_1 (далее 2 enter)



//main_container_2// 

.style_1

//END MAIN//



Так же обращаю внимание на то, что визуально будет удобно и приятнее, если будут соблюдены все отступы и пробелы, а лишние enter удалены.
*/




/*		Правила стилизации:

Постарайтесь использовать переопределение и комбинирование. Задавайте необходимые классы всем элементам в блоке один раз, привязываясь к селектору этого блока, а после корректируйте конкретный item. Комментирование приветствуется.

Медиа-запросы либо выносим в отдельный css, либо обозначаем комментарием и указываем в конце стилей для секции или блока
*/




/* STANDART STYLE */

a {
	text-decoration: none;
}

body {
	font-family: 'Montserrat';
}

.slave_heading_mobile {
	display: none;
	font-style: normal;
	font-weight: bold;
	font-size: calc(20px + 16 * ((100vw - 320px) / (1280 - 320)));
	line-height: 1.2em;
	/* margin-top: -1em; */
	color: #FFFFFF;
}

/* body {
	margin-bottom: 200px;
} */

/* END STANDART STYLE */




/*HEADER*/

/* Общий класс для центрирования блока */
.center {
	width: 90%;
	margin: 0 auto;
}

.wrapper{
	padding: 0 20px;
	max-width: 1170px;
	/*Позиционирование по центру*/
	margin: 0 auto;
}

.header {
	width: 100%;
	}

.header_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

.header_logo{
	padding-top: 35px;
	padding-bottom: 10px;
}

.header_list{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px ;
}

.header_item{
	margin-right: 82px;
	
}

.header_item:last-child{
	margin-right: 0;
}

.header_link{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}

/*смена цвета кнопок меню в шапке при наведение*/
.header_link:hover, .header_link:focus{
	color: #FF5C00;
	transition: color 0.2s ease-out;
}

.header_link:active{
	color: #a53c00;
}

.header_burger{
	display: none;
	margin-bottom: 20px;
	width: 40px;
	height: 28px;
	position: relative;
}

.burger_line{
	display: block;
	width: 100%;
	height: 2px;;
	background-color: #FFFFFF;
	position: absolute;
	left: 0;
}

.burger_line_1{
	top: 0;
}

.burger_line_2{
	bottom: 0;
}

.burger_line_3{
	top: 50%;
	transform: translateY(-50%);
}

/* @MEDIA HEADER */

@media screen and (max-width:767px){
	.header_burger{
		display: block;
	}

	/* .header_nav-background{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 9;
	} */

	.header_nav{
		width: 60%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #000;
		z-index: 10;
		padding: 75px;
		transform: translateX(100%);
		transition: .2s all linear;
	}
	.header_nav_active{
		transform: translateX(0);
	}
	.header_item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	
	.header_item:last-child{
		margin-bottom: 0;
	}

	.header_item{
		font-size: 40px;
		line-height: 48px;
	}
	.header_nav-close{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 11;
	}
	.header_nav-close-line{
		display: block;
		width: 100%;
		height: 2px;
		background-color: #FFF;
		position: absolute;
		top: 50%;
	}
	.header_nav-close-line:first-child{
		transform: translateY(-50%) rotate(45deg);
	}
	.header_nav-close-line:last-child{
		transform: translateY(-50%) rotate(-45deg);
	}
}

/*END HEADER*/




/*PROMO_SECTION*/

/*main_promo_container*/

.background_image{
	min-height: 950px;
	background: url(../image/promo_img1.png) no-repeat;
	background-size: cover;
	background-position: center 20%;
}

.main_promo_container{
	/* border: 1px solid blue; */
	height: 650px;
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	/* justify-content: space-around; */
}

.left_promo_container{
	/* width: 673px; */
	margin-top: 90px;
	overflow: hidden;
}

.promo_img {
	max-width: 100%;
	margin-left: -20px;
}

.promo_text {
	margin-bottom: 40px;
}

.promo_text > h1{
	max-width: 668px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: calc(22px + 16 * ((100vw - 320px) / (1280 - 320)));
	line-height: 1.25em;
	color: #FFFFFF;
	margin-bottom: 25px;
}

.polygon_promo{
	margin-bottom: 20px;
}

.promo_text > h2{
	max-width: 529px;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 36px;
	font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
	line-height: 1.25em;
	color: #FFFFFF;
	margin-left: 35px;
}

.color_promo_title2{
	color: #FF5C00;
}

.offer_promo_container{
	margin-bottom: 33px;
	/* padding-right: 110px; */
	/* border: 1px rgb(21, 255, 0) solid; */
	text-align: center;
	height: 100px;
	max-width: 530px;
}

.offer_promo_button{
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 290px;
	padding: 20px 23px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color:white;
	background: #FF5C00;
	border-radius: 31px;
	text-transform: uppercase;
	margin-bottom: 12px;
	box-shadow: 0px 0px 23px #FF5C00;
}

.offer_promo_title{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color:#FFFFFF;
}



/*slave_promo_container*/

.background_image2 {
	background: url(../image/promo_img2.png) top  no-repeat;
	background-size: 100%;
}

.slave_promo_container{
	/* border: 1px green solid; */
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.slave_promo_img{
	margin-top: 70px;
	max-width: 100%;
}

.slave_heading{
	font-weight: bold;
	font-size: calc(28px + 16 * ((100vw - 320px) / (1280 - 320)));
	line-height: 1.2em;
	color: #FFFFFF;
	margin-top: -40px;
	margin-left: -100px;
}

.slave_title{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #111010;
	margin-top: calc(40px + 30* ((250vw - 320px) / (1280 - 320)));
	margin-bottom: 191px;
}



/* @MEDIA PROMO SECTION */

@media (max-width: 850px) {
	.main_promo_container {
		grid-template-columns: 1fr;
		height: 450px;
	}

	.right_promo_container {
		display: none;
	}

	.left_promo_container {
		margin-top: 10px;
	}

	.background_image{ 
		min-height: 750px;
	}

	.slave_heading {
		margin-top: -20px;
		display: none;
	}

	.slave_heading_mobile {
		display: inline-block;
		margin-top: -20px;
		text-align: center;
		font-size: 28px;
		/* width: 100%; */
		color: rgb(224, 224, 255);

	}

	.slave_promo_img {
		display: none;
	}

	/* .left_slave_container {
		display: none;
	} */

	.slave_promo_container {
		grid-template-columns: 1fr;
	}
}


/* HOVER/ACTIVE/FOCUS */
.offer_promo_button:hover, .offer_promo_button:focus{
	box-shadow: 0px 0px 34px #FF5C00;
}

.offer_promo_button:active{
	box-shadow: 0px 0px 10px #FF5C00;			
	color: #ebe2e2dc;
}

/*END PROMO_SECTION*/




/* CARDS_SECTION */
.cards_section {
	margin-top: 50px;
	margin-bottom: 150px;
}



.background_cards_section{
	height: 1030px;
	display: flex;
	align-content: flex-start;
    justify-content: space-evenly;
	align-items: center;
	background: url(../image/background_card.svg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.cards_title{
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #323232;
	margin-bottom: -50px;
}

.color_cards_title{
	color:#FFF;
	background-color: #FF5C00;
	border-radius: 20px;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 45px;
	margin: 0 auto;
}

.cards_item{
	display: block;
	box-sizing: border-box;
	color: #FFFFFF;
	padding: 11px 18px 6px;
	border-radius: 20px;
	height: 165px;
	width: 360px;
	margin: 0 auto;
	box-shadow: inset 0px 0px 0px 1.5px rgba(184, 184, 184, 0.25);
}

.cards_item > h4{
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 100%;
	/* margin-bottom: 25px; */
}

.cards_item > p{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	position: relative;
	top: 35px;
}

.card_1{
	background: url(../image/background_card_1.png) no-repeat;
	/* background-size: 100%;
	background-position: top center;  */
}

.card_2{
	background: url(../image/background_card_2.png) no-repeat;
	/* background-size: cover; */
	/* background-position: top center; */
}

.card_3{
	background: url(../image/background_card_3.png) no-repeat;
	/* background-size: cover;
	background-position: top center; */
}

.card_4{
	background: url(../image/background_card_4.png) no-repeat;
	/* background-size: cover;
	background-position: top center; */
}

.card_5{
	background: url(../image/background_card_5.png) no-repeat;
	/* background-size: cover;
	background-position: top center; */
}

.card_6{
	background: url(../image/background_card_6.png) no-repeat;
	/* background-size: cover;
	background-position: top center; */
}

/* @MEDIA CARDS SECTIONS */



@media (max-width: 1210px) {
	.cards{
		grid-template-columns: 1fr 1fr;

	} 

	.middle{
		max-width: 750px;
	}

	.background_cards_section {
		height: 1500px;
	}
	
}

/* END CARDS_SECTION */




/* SERVICE_SECTION */

.service_title{
	font-weight: bold;
	font-size: 100px;
	line-height: 122px;
	color: #5F6CB9;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 111px;
}

.services{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	margin: 0 auto;
	margin-bottom: 186px;
}

.service_item{
	display: block;
	box-sizing: border-box;
	padding-top: 35px;
	padding-left: 50px;
	height: 340px;
	width: 560px;
	border-radius: 20px;
	margin: 0 auto;
}

.service_item > h4{
	font-weight: 800;
	font-size: 38px;
	line-height: 46px;
	margin-bottom: 19px;
}

.service_item > ul {
	font-weight: 600;
	font-size: 20px;
	line-height: 200%;
}

.service_item > a {
	display: block;
	box-sizing: border-box;
	width: 200px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: 800;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	border-radius: 10px;
	text-transform: none;
	color: #FFFFFF;
	left: 258px;
	margin-left: 258px;
}



/* service_item_1 */

.service_item_1 {
	color: #3CAAA9;
}

.service_item_1 > a{
	background: #3CAAA9 90%;
	box-shadow: 0px 10px 18px #BADBDE;
}

.service_item_1{
	background: url(../image/background_service_1.jpg) no-repeat;
	/* background-size: cover; */
	/* background-position: top center; */
	box-shadow: inset 0px 0px 0px 3px rgba(72, 163, 189, 0.3); 
}



/* service_item_2 */

.service_item_2 {
	color: rgba(189, 84, 158, 0.9);
}

.service_item_2 > a{
	background: rgba(189, 84, 158, 0.9);
	box-shadow: 0px 10px 18px #d4bade;
}

.service_item_2{
	background: url(../image/background_service_2.jpg) no-repeat;
	/* background-size: cover; */
	/* background-position: top center; */
	box-shadow: inset 0px 0px 0px 3px rgba(185, 96, 185, 0.3); 
}



/* service_item_3 */

.service_item_3 {
	color: rgba(54, 21, 150, 0.8);
}

.service_item_3 > a{
	background: rgba(136, 59, 193, 0.9);
	box-shadow: 0px 10px 18px #caabd6;
}

.service_item_3{
	background: url(../image/background_service_3.jpg) no-repeat;
	/* background-size: cover; */
	/* background-position: top center; */
	box-shadow: inset 0px 0px 0px 3px rgba(112, 87, 187, 0.3); 
}



/* service_item_4 */

.service_item_4 {
	color: rgba(62, 125, 224, 0.85);
}

.service_item_4 > a{
	background: rgba(62, 125, 224, 0.85);
	box-shadow: 0px 10px 18px #bac4de;
}

.service_item_4{
	background: url(../image/background_service_4.jpg) no-repeat;
	/* background-size: cover; */
	/* background-position: top center; */
	box-shadow: inset 0px 0px 0px 3px rgba(51, 93, 156, 0.3);
}

/* @MEDIA CARDS SECTIONS */



@media (max-width: 1210px) {
	.services{
		grid-template-columns: 1fr;
	} 
}

/* END SERVICE_SECTION */




/* START CASE_SECTION */

.wrapper_case{
	padding: 0 20px;
	max-width: 1357px;
	margin: 0 auto;
}

.cases_section {
	min-height: 1132px;
	background: url(../image/case_background.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
}

.case_title {
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	line-height: 122px;
	text-align: center;
	color: #F2FAFA;
	position: relative;
	top: 83px;
	margin-bottom: 166px;
}

.flex-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.slider-wrapper {
	max-width: 1357px;
	width: 100%;
	height: 577px;
	position: relative;
	box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

.slide {
	display: none;
	background-size: cover;
	background-position: center center;
	box-shadow: 0px 2px 41px rgba(112, 112, 112, 0.367);
	border-radius: 30px;
	/* padding: 30px; */
	/* width: 1360px; */
	height: 580px;

}

.slide_content {
	display: flex;
    flex-direction: column-reverse;
	box-sizing: border-box;
	height: 577px;
	max-width: 1290px;
	margin: 0 20px;
	color: #fff;
}

.slide_content span {
	padding: 20px;
	border: solid white 1px;
	background-color: #5f6db9c7;
	backdrop-filter: blur(5px);
	border-radius: 5px;
	background: linear-gradient(99.97deg, rgba(65, 21, 137, 0.5) 16.54%, rgba(99, 3, 107, 0.5) 100.52%);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	backdrop-filter: blur(7px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 20px;
}



.name_of_slide {
	display: flex; 
	justify-content: space-between;
	margin-bottom: 30px;
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 40px;
}

.name_of_slide > span {
	padding: 15px;
}

.parameters_of_slide {
	margin-bottom: 20px;
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 14px;
	
	color: #FFFFFF;	
}

.parameters_of_slide span {
	padding: 5px 10px;
	border-radius: 8px;
}

.daily_parameter,.rating_parameter {
	text-align: center;
	margin-right: -10px;
	margin-left: 10px;
} 

.parameters_of_slide > span:nth-child(1) {
	margin-right: 30px;
}




.slide.active {
	display: block;
}

.button_of_slide {
	color: white;
	background: rgb(238, 90, 32);
}

.first {
	background: url(../image/slide_1.jpg) no-repeat;
}

.second {
	background: url(../image/slide_2.jpg) no-repeat;
	
	width: 100%;
	height: 100%;
}

.buttons_of_slide {
	display: flex;
	flex-direction: row;
	position: relative;
	bottom: 330px;
	justify-content: space-between;
}

/* #btn-prev, #btn-next {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background-color: gray;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
} */

/* #btn-prev:hover, #btn-next:hover {
	opacity: 0.6;
} */

#btn-prev:hover, #btn-next:hover {
	box-shadow: 0px 0px 34px #707070;
	border-radius: 100%;
}

#btn-prev:active, #btn-next:active{
	box-shadow: 0px 0px 0px #707070;
}

#btn-prev {
	border-radius: 100%;
	margin-left: 40px;
}

#btn-next {
	border-radius: 100%;
	margin-right: 40px;
}

/* END CASE_SECTION */




/* START WAVE_SECTION */

.wave_container {
	height: 330px;
	background: url(../image/wawe.svg) no-repeat;
	background-size: cover;
	 background-position: center center;
	display: flex;
	align-items: center; 
	margin-bottom: 180px;
}

.wave_title {
	font-weight: 700;
	font-size: 60px;
	line-height: 73px;
	color: #FFFFFF;

}

.wawe {
	width: 1170px;
	margin: 0 auto;

}

/* .wave_title > h2 {
	display: block;
} */

/* END WAVE_SECTION */




/* START FORM_SECTION */

.form_section {
	height: 1400px;
	
	background: radial-gradient(57.92% 41.99% at 45.09% 55.35%, #1C054F 0%, #000000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;}

.form_caption > h3 {
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
	color: #FFFFFF;
	margin-bottom: 35px;
}

.form_caption > p {
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #F2F2F2;
	margin-bottom: 90px;
}

.form_info{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 350px;
}

.form_field {
	max-width: 190px;
	margin-right: 25px;
	border: 0;
	border-radius: 20px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #323232;
}

.form_field::placeholder {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #AD928C;
}

.form_button {
	padding: 17px 20px;
	border: 0;
	border-radius: 20px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background: #FF5C00;
}

.form_button:hover, .form_button:focus{
	box-shadow: 0px 0px 34px #FF5C00;
}

.form_button:active{
	box-shadow: 0px 0px 10px #FF5C00;			
	color: #ebe2e2dc;
}

/* END FORM_SECTION */




/* START FOOTER_SECTION */

footer {
	height: 100px;
	background :#000000;
}

.line_footer {
	background: #fff;
	height: 0.5px; 
	width:100%
}

.social_container {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
}

.link_social {
	/* display: block; */
	margin-right: 20px;
}

