/* STANDART STYLE */

a {
	text-decoration: none;
}

body {
	font-family: 'Montserrat';
}

/* END STANDART STYLE */




/* HEADER START */

.wrapper{
	padding: 0 20px;
	max-width: 1170px;
	/*Позиционирование по центру*/
	margin: 0 auto;
}

.header {
	width: 100%;
	}

.header_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

.header_logo{
	padding-top: 35px;
	padding-bottom: 10px;
}

.header_list{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px ;
}

.header_item{
	margin-right: 82px;
	
}

.header_item:last-child{
	margin-right: 0;
}

.header_link{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
	text-decoration: none;
}

/*смена цвета кнопок меню в шапке при наведение*/
.header_link:hover, .header_link:focus{
	color: #199FFA;
	transition: color 0.2s ease-out;
}

.header_link:active{
	color: #0F86D7;
}

/* HEADER END */




/* START PROMO SECTION */

.main_promo_container{
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	gap: 40px;
	margin-top: 170px;
	margin-bottom: 300px;
}

/* .left_promo_container {
	position: relative;
	right: 78px;
} */

.right_promo_container {
	margin-top: 100px;
	
}

.promo_text > h1 {
	font-weight: 800;
	font-size: 42px;
	line-height: 50px;
	color: #0F86D7;
	margin-bottom: 20px;
}

.promo_text > h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #199FFA;
	margin-bottom: 45px;
}

.promo_list_item {
	font-weight: 600;
	font-size: 23px;
	line-height: 104.9%;
	/* or 24px */
	color: #4D4D4D;
	margin-bottom: 15px;
}

.promo_list_item:last-child{
	margin-bottom: 0;
}

@media screen and (max-width:1040px){
	.main_promo_container{
	grid-template-columns: 1fr;
	justify-items: center;
	margin-bottom: 100px;
	}

	img.promo_img{
		width: 100%;
		max-width: 300px;
	}
}

@media screen and (max-width:500px) {
	.promo_text > h1 {
		font-weight: 800;
		font-size: 26px;
		line-height: 28px;
	}

	.promo_text > h2 {
		font-weight: 700;
		font-size: 22px;
		line-height: 24px;
		margin-bottom: 25px;
	}	

	.promo_list_item {
		font-weight: 600;
		font-size: 18px;
		line-height: 18px;
	}
}

/* END PROMO SECTION */




/* START PRICES SECTION */

.prices_title_section {
	font-weight: 700;
	font-size: 70px;
	line-height: 85px;
	text-align: center;
	color: #0F86D7;
	margin-bottom: 100px;
}

.prices_list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 370px);
	justify-content: center;
	gap: 20px;
	justify-items: center;
	margin-bottom: 300px;
}

.price_item_table {
	display: flex;
	align-items: center;
	line-height: 49px;
	justify-content: space-around;
}

.price_item_table li {
	margin: 17px 0px;
}

.prices_item {
	box-sizing: border-box;
	width: 365px;
	padding: 30px 40px 20px 40px;
	border: 5px solid rgba(43, 147, 219, 0.2);
	border-radius: 15px;
}

.prices_item >h4 {
	font-weight: 800;
	font-size: 30px;
	line-height: 37px;
	color: #0F86D7;
	margin-bottom: 45px;
}

.emoji_in_table{
	margin-right: 20px;
	font-size: 36px;
}

/* .emoji_in_table:last-child{
	background-color: #ffa8af;
	border-radius: 10px;
	font-size: 500px;
} */

.price_of_smth > li:last-child {
	background-color: #ffa8af;
	border-radius: 10px;
	padding: 2px;
	color: white;
}

/* smth = something */
.number_of_smth {
	font-weight: 700;
	font-size: 28px;
	color: #0F86D7;
	margin-right: 35px;
	/* padding: 10px 0 10px 0; */
}

.price_of_smth {
	font-weight: 700;
	font-size: 28px;
	color: #4D4D4D;
	/* padding: 10px 0 10px 0; */
}

.prices_item:hover {
	border-radius: 15px;
	/* box-shadow: inset 0px 0px 0px 3px rgba(72, 163, 189, 0.3);  */
	background-color: rgba(43, 147, 219, 0.2);
}

.prices_item:active {
	box-shadow: none;
}

/* END PRICES SECTION */




/* START FORM SECTION */
.form_title > h2 {
	font-weight: 800;
	font-size: 70px;
	line-height: 101.9%;
	text-align: center;
	letter-spacing: 0.015em;
	color: #179CDE;
	margin-bottom: 110px;
}

.form_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px) ;
	justify-content: center;
	gap: 40px;
	margin-bottom: 300px;
}

@media screen and (max-width:900px){
	.form_container div:first-child {
		
		order: 2;
}
}

/* .form_left_container {
	margin-right: 135px;
} */

.form_info {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 30px 90px 4px #DDF4FF;
	border-radius: 30px;
	padding: 40px 45px;
}

.form_field {
	max-width: 310px;
	margin-bottom: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 20px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #D5E9F8;
	border: 4px solid #A8DBFF;
	box-sizing: border-box;
	border-radius: 30px;
}

.form_field::placeholder {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #D5E9F8;
}

.form_button {
	padding: 17px 20px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background: #179CDE;
	border: 4px solid #7ABEF1;
	box-sizing: border-box;
	border-radius: 30px;
}

/* .form_button:hover, .form_button:focus{
	box-shadow: 0px 0px 34px #FF5C00;
} */

.form_button:active{
	border: 4px solid #fff;
}

.form_right_container {
	margin-top: 50px;
}

.form_right_container > p {
	font-weight: 600;
	font-size: 44px;
	line-height: 54px;
	color: #179CDE;
}

/* END FORM SECTION */




/* START QUESTIONS SECTION */

summary {
	display: block;
 }
 
	summary::-webkit-details-marker {
	display: none;
}

.questions_title {
	font-weight: 800;
	font-size: 70px;
	line-height: 85px;
	text-align: center;
	color: #179CDE;
	margin-bottom: 80px;
}

.questions_wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
}

/* .questions_container {
	max-width: 870px;

} */
.questions_item {
	margin-bottom: 20px
}

.questions_item[open] {
	background: rgba(23, 156, 222, 0.1);
	border-radius: 20px;
	transition: 0.3s all;
}



.questions_item:hover {
	background-color: rgba(23, 156, 222, 0.1);
	border-radius: 20px;
	transition: 0.5s all;
}

.questions {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #179CDE;
	cursor: pointer;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 120px;
	position: relative;
}

.questions::after {
	display: block;
	content: "+";
	font-size: 68px;
	position: absolute;
	right: -10px;
	top: 30%;
	transform: translateX(-20px);

}

.questions_item[open] .questions::after {
	content: "×";
}

.answer {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #4D4D4D;
	padding: 30px;
}




/* START FOOTER_SECTION */

footer {
	display: flex;
	align-items:center;
	height: 200px;
	background :#EDEEF0;
}

.line_footer {
	background: #fff;
	height: 0.5px; 
	width:100%
}

.social_container {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
}

.link_social {
	/* display: block; */
	margin-right: 20px;
}