/* STANDART STYLE */

a {
	text-decoration: none;
}

body {
	font-family: 'Montserrat';
}

.backgraund_vk {
	background: #4680C2;
}

.backgraund_site{
	background:#EEFAFB; 
}
/* END STANDART STYLE */




/* HEADER START */

.wrapper{
	padding: 0 20px;
	max-width: 1170px;
	/*Позиционирование по центру*/
	margin: 0 auto;
}

.header {
	width: 100%;
	}

.header_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

.header_logo{
	padding-top: 35px;
	padding-bottom: 10px;
}

.header_list{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px ;
}

.header_item{
	margin-right: 82px;
	
}

.header_item:last-child{
	margin-right: 0;
}

.header_link{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
	text-decoration: none;
}

/*смена цвета кнопок меню в шапке при наведение*/
.header_link:hover, .header_link:focus{
	color: #199FFA;
	transition: color 0.2s ease-out;
}

.header_link:active{
	color: #0F86D7;
}

.header_burger{
	display: none;
	margin-bottom: 20px;
	width: 40px;
	height: 28px;
	position: relative;
}

.burger_line{
	display: block;
	width: 100%;
	height: 2px;;
	background-color: #000;
	position: absolute;
	left: 0;
}

.burger_line_1{
	top: 0;
}

.burger_line_2{
	bottom: 0;
}

.burger_line_3{
	top: 50%;
	transform: translateY(-50%);
}

/* Стили для страницы ВК*/

.header_link_vk {
	color:#fff;
}

.burger_line_vk {
	background-color:#fff;
}

/* Стили для страницы разработки*/

.header_link_site {
	color: #238686;
}

.burger_line_site {
	background-color:#000;
}

/* @MEDIA HEADER */

@media screen and (max-width:767px){
	.header_link{
		color: #fff;
	}

	.header_burger{
		display: block;
	}

	/* .header_nav-background{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 9;
	} */

	.header_nav{
		width: 60%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #000;
		z-index: 10;
		padding: 75px;
		transform: translateX(100%);
		transition: .2s all linear;
	}
	.header_nav_active{
		transform: translateX(0);
	}
	.header_item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	
	.header_item:last-child{
		margin-bottom: 0;
	}

	.header_item{
		font-size: 40px;
		line-height: 48px;
	}
	.header_nav-close{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 11;
	}
	.header_nav-close-line{
		display: block;
		width: 100%;
		height: 2px;
		background-color: #FFF;
		position: absolute;
		top: 50%;
	}
	.header_nav-close-line:first-child{
		transform: translateY(-50%) rotate(45deg);
	}
	.header_nav-close-line:last-child{
		transform: translateY(-50%) rotate(-45deg);
	}
}

/*END HEADER*/

/* HEADER END */




/* START PROMO SECTION */

.main_promo_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 80px;
	margin-bottom: 200px;	 
	align-items: center;
}

/* .backgraund_promo_section_vk {
	background: url(../image/promo_image_vk.png) no-repeat;
	background-position: left;
	width: 720px;
	height: 1095px;
	transform: translate(-45px,30%); */




.promo_text > h1 {
	font-weight: 800;
	font-size: 34px;
	line-height: 40px;
	color: #0F86D7;
	margin-bottom: 20px;
}

.promo_text > h2 {
	font-weight: 700;
	font-size: 27px;
	line-height: 35px;
	color: #199FFA;
	margin-bottom: 45px;
}

.promo_list_item {
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	/* or 24px */
	color: #4D4D4D;
	margin-bottom: 20px;
}

.promo_list_item:last-child{
	margin-bottom: 0;
}

/* Стили для страницы ВК*/

.main_promo_container_vk {
	margin-top: 0px;
	margin-bottom: 0px;	 
	align-items: normal;
}

.left_promo_container_vk>img {
	width: 100%;
}

.right_promo_container_vk {
	margin-top: 370px;
	max-width: 580px;
}

.promo_text_vk > h1 {
	color: #fff;
	margin-bottom: 20px;
}

.promo_text_vk > h2 {
	font-weight: 700;
	font-size: 27px;
	line-height: 35px;
	color: #fff;
	margin-bottom: 45px;
}

.promo_list_item_vk {
	color: #fffD;
}
/* Стили для страницы ВК*/

/* Стили для страницы разработки сайтов*/

.main_promo_container_site {
	gap:40px;
}

.promo_text_site > h1 {
	color:#47B0B0;
}

.promo_text_site > h2 {
	color: #47B0B0;
}
@media screen and (max-width:1040px){
	.main_promo_container{
	grid-template-columns: 1fr;
	justify-items: center;
	margin-bottom: 100px;
	}

	.right_promo_container_vk {
		margin-top: 100px;
		max-width: 540px;
		text-align: center;
  }

	.left_promo_container_vk>img {
		display: none;
	}

	img.promo_img{
		width: 100%;
		max-width: 300px;
	}

	.indented_container {
		padding: 0 20px;
	}
}

@media screen and (max-width:500px) {
	.promo_text > h1 {
		font-weight: 800;
		font-size: 26px;
		line-height: 28px;
	}

	.promo_text > h2 {
		font-weight: 700;
		font-size: 22px;
		line-height: 24px;
		margin-bottom: 25px;
	}	

	.promo_list_item {
		font-weight: 600;
		font-size: 18px;
		line-height: 18px;
	}
}

/* END PROMO SECTION */




/* START PRICES SECTION */


.prices_title_section {
	font-weight: 700;
	font-size: 56px;
	line-height: 68px;
	text-align: center;
	color: #0F86D7;
	margin-bottom: 100px;
}



.prices_list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 370px);
	justify-content: center;
	gap: 20px;
	justify-items: center;
	margin-bottom: 200px;
}

.price_item_table {
	display: flex;
	align-items: center;
	line-height: 49px;
	justify-content: space-around;
}

.price_item_table li {
	margin: 17px 0px;
}

.prices_item {
	box-sizing: border-box;
	width: 320px;
	padding: 20px 30px 10px 30px;
	border: 5px solid rgba(43, 147, 219, 0.2);
	border-radius: 15px;
}

.prices_item >h4 {
	font-weight: 800;
	font-size: 26px;
	line-height: 30px;
	color: #0F86D7;
	margin-bottom: 45px;
}

.emoji_in_table{
	margin-right: 20px;
	font-size: 34px;
}

/* .emoji_in_table:last-child{
	background-color: #ffa8af;
	border-radius: 10px;
	font-size: 500px;
} */

/* .price_of_smth > li:last-child {
	background-color: #ffa8af;
	border-radius: 10px;
	padding: 2px;
	color: white;
} */

/* smth = something */
.number_of_smth {
	font-weight: 700;
	font-size: 22px;
	color: #0F86D7;
	margin-right: 35px;
	/* padding: 10px 0 10px 0; */
}

.price_of_smth {
	font-weight: 700;
	font-size: 22px;
	color: #4D4D4D;
	/* padding: 10px 0 10px 0; */
}

.prices_item:hover {
	border-radius: 15px;
	/* box-shadow: inset 0px 0px 0px 3px rgba(72, 163, 189, 0.3);  */
	background-color: rgba(43, 147, 219, 0.2);
}

.prices_item:active {
	box-shadow: none;
}

/* Стили для страницы ВК*/

.prices_title_section_vk{
	margin-top: -200px;
	color:#fff;
}

.prices_item_vk {
	border: 5px solid rgba(255, 255, 255, 0.52);
}

.prices_item_vk > h4{
	color: #fff;
}

.number_of_smth_vk{
	color:#fff;
} 

.price_of_smth_vk{
	color:#060046;
}

.prices_item_vk:hover {
	background-color: rgba(214, 209, 209, 0.52);;
}
/* Стили для страницы ВК*/

/* Стили для страницы разработки сайта*/

.prices_list_site {
	grid-template-columns: repeat(auto-fit, 485px);
	gap: 50px;
}

.price_item_table_site {
	justify-content:normal;
}

.prices_title_section_site{
	/* margin-top: -200px; */
	color:#47B0B0;
}

.prices_item_site {
	padding: 0px 0px 10px 0px;
	border: 5px solid rgba(71, 176, 176, 0.52);
	
	width: 485px;
}

.prices_item_site > h4{
	color: #47B0B0;
	padding: 20px 30px 10px 30px;
	border-bottom: 5px solid rgba(71, 176, 176, 0.52);
	/* border-radius: 15px; */
}

.number_of_smth_site{
	color:#47B0B0;
} 

.price_of_smth_site{
	color:#060046;
	text-align: right;
	padding-right:28px;
}

.emoji_in_table_site{
	padding-left: 28px;
}
.prices_item_vk:hover {
	background-color: rgba(214, 209, 209, 0.52);;
}

.price_item_table_site li {
	margin: 0px 0px;
}

.price_item_table_site li:last-child{
	margin-top: 50px;
}

@media (max-width: 1210px){
	.prices_title_section{
		margin-top: 0px;
	}
	.prices_list {
		margin-bottom: 100px;
	}
}

@media (max-width: 410px){
	.prices_title_section{
	font-size: 48px;
	line-height: 56px;
	margin-bottom: 50px;
	}
}

/* END PRICES SECTION */




/* START FORM SECTION */

.form_title > h2 {
	font-weight: 800;
	font-size: 56px;
	line-height: 68px;
	text-align: center;
	letter-spacing: 0.015em;
	color: #179CDE;
	margin-bottom: 80px;
}

.form_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
	justify-content: center;
	justify-items: center;
	gap: 40px;
	margin-bottom: 200px;
}



/* .form_left_container {
	margin-right: 135px;
} */

.form_info {
	/* display: flex;
	flex-direction: column; */
	display: grid;
   grid-template-columns: repeat(auto-fit, minmax(225px, 400px));
	box-shadow: 0px 30px 90px 4px #DDF4FF;
	border-radius: 30px;
	padding: 40px 45px;
}

.form_field {
	max-width: 310px;
	margin-bottom: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 20px;
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	color: #D5E9F8;
	border: 4px solid #A8DBFF;
	box-sizing: border-box;
	border-radius: 30px;
}

.form_field::placeholder {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #D5E9F8;
}

.form_button {
	padding: 17px 20px;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background: #179CDE;
	border: 4px solid #7ABEF1;
	box-sizing: border-box;
	border-radius: 30px;
}

/* .form_button:hover, .form_button:focus{
	box-shadow: 0px 0px 34px #FF5C00;
} */

.form_button:active{
	border: 4px solid #fff;
}

.form_right_container {
	margin-top: 50px;
}

.form_right_container > p {
	max-width: 280px;
	font-weight: 600;
	font-size: 32px;
	line-height: 43px;
	color: #179CDE;
}

/* Стили для страницы ВК*/

.form_title_vk > h2 {
	color: #fff;
}

.form_right_container_vk > p{
	color:#fff;
}

.form_info_vk {
	box-shadow: none;
	background: #fff;
}

.form_button_vk{
	background: #4680C2;
	border: 4px solid #7ABEF1;
}

.form_field_vk{
	border: 4px solid #4680C2;
}

.form_field_vk::placeholder {
	color: #AACDE7;
}

.form_button_vk:active{
	border: 4px solid #84a8c4;
}

@media (max-width: 1210px){
	.form_container {
		margin-bottom: 100px;
	}
}

@media screen and (max-width:900px){
	.form_container div:first-child {	
		order: 2;
	}

	.form_right_container > p {
		text-align: center;
		max-width: none;
	}
	.form_title > h2 {
		margin-bottom: 20px;
	}
}

@media (max-width:600px){
	.form_title > h2{
		font-size: 48px;
		line-height: 56px;
	}
}

@media (max-width:520px) {
	.form_title > h2{
		font-size: 38px;
		line-height: 46px;
	}

	.form_right_container > p {
		font-size: 28px;
		line-height: 36px;
	}
}

@media (max-width: 430px){
.form_title > h2 {
    font-size: 32px;
    line-height: 40px;
	 margin-bottom: 0px;
}
.form_right_container > p {
	font-size: 24px;
	line-height: 32px;
}
}
/* END FORM SECTION */




/* START QUESTIONS SECTION */

summary {
	display: block;
 }
 
	summary::-webkit-details-marker {
	display: none;
}

.questions_title {
	font-weight: 800;
	font-size: 54px;
	line-height: 68px;
	text-align: center;
	color: #179CDE;
	margin-bottom: 80px;
}

.questions_wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 180px;
}

/* .questions_container {
	max-width: 870px;

} */
.questions_item {
	margin-bottom: 20px;
}

.questions_item[open] {
	background: rgba(23, 156, 222, 0.1);
	border-radius: 20px;
	transition: 0.3s all;
}



.questions_item:hover {
	background-color: rgba(23, 156, 222, 0.1);
	border-radius: 20px;
	transition: 0.5s all;
}

.questions {
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: #179CDE;
	cursor: pointer;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 120px;
	position: relative;
}

.questions::after {
	display: block;
	content: "+";
	font-size: 68px;
	position: absolute;
	right: -10px;
	top: 30%;
	transform: translateX(-20px);

}

.questions_item[open] .questions::after {
	content: "×";
}

.answer {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #4D4D4D;
	padding: 30px;
}

/* Стили для страницы ВК*/

.questions_title_vk {
	color: #fff;
}

.questions_item_vk:hover{
	background: #6194CD;
}

.questions_item_vk[open] {
	background: #6194CD;
}

.questions_vk{
	color:#fff;
}

.answer_vk{
	color: #fff;
}

@media (max-width:800px) {
	.questions_wrapper {
		margin-bottom: 100px;
  }
}

@media (max-width: 430px) {
	.questions_title {
		font-size: 32px;
		line-height: 40px;
	}

	.questions_wrapper {
		margin-bottom: 50px;
  }
}


/* START FOOTER_SECTION */

footer {
	display: flex;
	align-items:center;
	height: 200px;
	/* background :#EDEEF0; */
}

.line_footer {
	background: #fff;
	height: 0.5px; 
	width:100%
}

.social_container {
	display: flex;
	justify-content: center;
}

.link_social {
	margin-right: 20px;
}

.link_social > img {
	max-height: 100%;
	max-width: 100%;
}

@media (max-width:430px) {
	.link_social {
		margin-right: 10px;
	}
}